.catalog {
  @include media-breakpoint-down(lg) {
    width: 100vw;
    overflow-x: hidden;

    &-wrapper {
      display: flex;
      transition: 0.3s;
    }

    &-slide {
      flex: 0 0 100vw;
    }
  }
}

.categories-parent-list {

  &-item {
    >a {
      display: flex;
      align-items: center;
      font: 700 24px/1.4 $font-family-main;
      transition: 0.3s;

      &:hover {
        color: $accent-color;
      }

      >span {
        display: none;

        @include media-breakpoint-down(lg) {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          width: 22px;
          height: 22px;
          margin-right: 14px;

          svg {
            fill: #989898;
          }
        }
      }

      @include media-breakpoint-down(lg) {
        font-size: 16px;

        &:focus,
        &:active {
          opacity: 0.7;
          color: inherit;
        }
      }
    }

    @include media-breakpoint-down(lg) {
      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }
  }
}

.categories-child-list {
  margin-bottom: 64px;
  margin-top: 38px;
  margin-left: 0;
  columns: 3;

  @include media-breakpoint-down(lg) {
    display: none;
  }

  &-item {
    margin-bottom: 30px;
    break-inside: avoid;

    >a {
      font: 700 16px/33px $font-family-main;
      color: $black-alter-color;
      transition: 0.3s;

      &:hover {
        color: $accent-color;
      }
    }
  }
}

.categories-grandchild-list {
  margin-top: 3px;
  margin-left: 0;
  break-inside: avoid;

  &-item {

    >a {
      font: 14px/31px $font-family-main;
      color: $black-alter-color;
      transition: 0.3s;

      &:hover {
        color: $accent-color;
      }
    }
  }
}

.catalog-slide-backlink {
  display: block;
  margin-bottom: 20px;
  padding-left: 14px;
  position: relative;
  font: 700 16px/1.4 $font-family-main;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 5px;
    height: 9px;
    background: url("../images/back-arrow.svg") no-repeat center;
  }
}

.catalog-slide-item {
  &:not(:last-child) {
    border-bottom: 1px solid #c4c4c4;
  }

  >a {
    padding: 12px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font: 14px/1.4 $font-family-main;

    &::after {
      content: "";
      margin-left: 5px;
      width: 5px;
      height: 9px;
      background: url("../images/forward-arrow.svg") no-repeat center;
    }
  }
}

.cat-wrapper {
  a {
    margin: 0 0 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
	color: $accent-color;
    transition: 0.3s;

    &:hover {
		color: $accent-color-hover;
      box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);

      h3 {
        color: inherit;
      }
    }
  }

  img {
    width: min(195px, 100%);
    height: 170px;
    object-fit: contain;
  }

  h3 {
    margin-top: 1.5em;
    font-size: 16px;
    font-weight: bold;
  }
}
