*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    min-width: 320px;
    display: flex;
    flex-direction: column;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    font-family: $font-family-main;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $black-alter-color;

    &.scroll-lock {
        overflow: hidden;
    }
}

main {
    flex: 1 1 auto;
}



a {
    color: $accent-color;
    text-decoration: none;

    &:focus {
        outline: none;
    }

    &:visited {
        color: inherit;
    }

    &:hover {
        color: $accent-color-hover;
    }
}

img,
video {
    display: block;
    max-width: 100%;
    height: auto;
}

textarea {
    resize: none;
}

// chrome autofill background removal
// Если на проекте у инпутов используются разные цвета фонов\текста -
// удалите это из глобала и используйте локально с нужными цветами
// rgba не подойдет, сконвертируйте цвет в hex без прозрачности
// если в стилях уже используется box-shadow есть другое решение -
// задать к списку транзишенов `background-color 10000000s ease-out`
input:-webkit-autofill {
    box-shadow: inset 0 0 0 1000px $white;

    -webkit-text-fill-color: $black;
}

// firefox placeholder \ invalid fix + ios bdrs
input,
textarea {
    border-radius: 0;
    font-family: $font-family-main;

    &::placeholder {
        opacity: 1;
    }

    &:invalid {
        box-shadow: none;
    }
}

select {
    border-radius: 0;
}

// ie11 X removal
input {

    &::-ms-clear,
    &::-ms-reveal {
        display: none;
    }

    &:focus {
        outline: none;
    }

    // input[number] arrows remova

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        margin: 0;
        appearance: none;
    }

    // chrome search X removal

    &[type="search"] {

        &::-webkit-search-decoration,
        &::-webkit-search-cancel-button,
        &::-webkit-search-results-button,
        &::-webkit-search-results-decoration {
            appearance: none;
        }
    }

    &[type="number"] {
        appearance: textfield;
    }

}

// ios button \ inputs reset
select,
textarea,
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"] {
    appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    appearance: none;
}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}

h2 {
    font-size: 24px;
    line-height: 1.4;
    font-weight: 700;

    @include media-breakpoint-down(lg) {
        font-size: 14px;
    }
}

input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="text"],
input[type="url"] {
    padding: 7px;
    border: 1px solid #BFBFBF;
    font-size: 14px;
    line-height: 20px;
    color: $black-alter-color;
    transition: 0.3s;
}

input[type="checkbox"] {
    display: none;

    +label {
        position: relative;
        padding-left: 22px;
        font-size: 13px;
        line-height: 1.2;
        color: #000;

        &::before {
            content: "";
            position: absolute;
            top: 2px;
            left: 0;
            width: 14px;
            height: 14px;
            background: #fff url("../images/mark.svg") center no-repeat;
            border-radius: 2px;
            box-shadow: inset 0 0 0 1px #BFBFBF;
            transition: 0.2s;
        }
    }

    &:checked+label::before {
        background: $accent-color url("../images/mark.svg") center no-repeat;
        box-shadow: none;
    }
}

// #wpadminbar {
//     display: none;
// }